[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vimfiles/bundle/tcomment_vim"]
	path = vimfiles/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimfiles/bundle/vim-smooth-scroll"]
	path = vimfiles/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "vimfiles/bundle/targets.vim"]
	path = vimfiles/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vimfiles/bundle/fzf.vim"]
	path = vimfiles/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
